* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #b5d6e8;
    border-bottom: 1px solid #ddd;
}

.logo {
    width: 80px;
    height: 80px;
}

.header-text {
    text-align: left;
    flex-grow: 1;
}

.header-text h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}

.header-text p {
    font-size: 16px;
    color: #666;
}

.logout-btn {
    background-color: #5cb85c;
    margin: 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #4cae4c;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav {
    display: flex;
    justify-content: left;
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

.nav span {
    margin: 0 15px;
    cursor: pointer;
    transition: color 0.3s;
}

.nav span:hover {
    color: #5cb85c;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.add-content-btn {
    background-color: #4da6ff;
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.add-content-btn:hover {
    background-color: #3399ff;
}

.add-content-btn .plus {
    font-size: 24px;
    margin-right: 10px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color:#0d6efd;
  color: #fff;
}

